body {
    background-color: rgb(209, 228, 249);
}
.main-container {
    width: 250px;
    height: 390px;
    background-color: rgb(240, 238, 238);
    border-radius: 10px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sub-container {
    margin-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: px;
    padding-right: 20px;
}

img  {
    width: 220px;
    height: 230px;
    border-radius: 10px;
    
}

h3 {
    font-size: 1em;
    font-family: "Outfit", serif;
    font-weight: 700;
}

p {
    font-size: 15px;
    font-family: "Outfit", serif;
    font-weight: 400;
}